html,body {
    margin : 0;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;
}
a {
    text-decoration: none;
}
ul,li {
    list-style: none;
}

:root {
    /* Color */
    --dark-blue : #2B4F8B;
    --gray : #B6B5B6;
    --black : #333333;
    --pink : #d59999;
    --white : #ffffff;
    --sky-blue : #0092E5;
    --brown : #c39973;
    --yellow : #ffe900;
    --green : #50b947;
    --blue : #5b8cd3;
    --sns : #2d3753;


    /* Font-size */
    --font4 : 4px;
    --font7 : 7px;
    --font10 : 10px;
    --font13 : 13px;
    --font15 : 15px;
    --font16 : 16px;
    --font18 : 18px;
    --font20 : 20px;
    --font25 : 25px;
    --font26 : 26px;
    --font32 : 32px;
}

/* Nav-Part */
#nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: var(--font20);
}
.nav-up {
    width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: var(--font25);
}
.nav-up__navbuttons button {
    font-size: var(--font15);
    font-weight: 600;
    padding : var(--font10);  
    border-radius: var(--font13);
}
.nav-up__navbuttons button:nth-child(1) {
    color : var(--white);
    background-color: var(--dark-blue);
    border : none;
}
.nav-up__navbuttons:nth-child(2) button {
    background-color: var(--white);
    color : var(--black);
    border-right-color: var(--black);
    box-shadow: none;
}
.nav-up__navbuttons button:nth-child(2) span {
    font-weight: 400;
}
.nav-up__navbuttons button:nth-child(1):hover span {
    text-decoration: underline;
    text-decoration-color: var(--white);
}
.nav-up__navbuttons button:nth-child(2):hover span {
    text-decoration: underline;
    text-decoration-color: var(--black);
}
.nav-down {
    width: 70%;
}
.nav-down__menuContainer {
    padding-top: var(--font10);
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.nav-down__menuContainer li {
    font-size: var(--font18);
    font-weight: 500;
}
.nav-up__etcs {
    display: flex;
}
.etc__contact {
    margin-right: var(--font32);
}
.etc__contact i {
    color : var(--dark-blue);
}
.etc__contact span {
    margin: 0 var(--font10) 0 var(--font10); 
    font-size: var(--font16);
}
.etc__contact b {
    color : var(--dark-blue);
    font-size: var(--font20);
    font-weight: 600;
}
.etc__signs {
    margin-left: var(--font10);
}
.etc__signs a {
    color : var(--gray);
    margin : 0 var(--font4);
    font-size: var(--font13);
}

/* Header-Part */
#header {
    width: 100%;
    height: 720px;
    position: relative;
    overflow-x: hidden;
    margin-bottom: 5%;
}
.header__slider {
    position: absolute;
    height: 720px;
    width: 100%;
    padding: 0;
    margin : 0;

}
.header__slider.active {
    transition: all 0.3s ease-in-out;
}
.slide {
    width: 100%;
    height: 720px;
    position: absolute;
}

.slide:nth-child(1) {
    width: 100%;
    background: url(./image/slide1.jpg) no-repeat center;
    background-size: 100% 130%;
    height: 720px;
}
.slide:nth-child(2) {
    width: 100%;
    background: url(./image/slide2.jpg) no-repeat center;
    background-size: 100% 130%;
    height: 720px;
}
.slide:nth-child(3) {
    width: 100%;
    background: url(./image/slide3.jpg) no-repeat center;
    background-size: 100% 130%;
    height: 720px;
}
.slide:nth-child(4) {
    width: 100%;
    background: url(./image/slide4.jpg) no-repeat center;
    background-size: 100% 130%;
    height: 720px;
}
.slide:nth-child(5) {
    width: 100%;
    background: url(./image/slide5.jpg) no-repeat center;
    background-size: 100% 130%;
    height: 720px;
}
.header__squares {
    position: absolute;
    display: flex;
    left : 50%;
    transform: translateX(-50%);
    bottom: 30px;
}
.square {
    width: 15px;
    height: 15px;
    background-color: var(--white);
    margin: 0 10px;
    border-radius: 50%;
}
.square.animated {
    background-color: var(--black);
}
#content {
    width: 100%;
    height: 400px;
    margin: 0 auto;
    padding : 0;
    display: flex;
    justify-content: center;
}
.content__fadeIn {
    position: relative;
    width: 80%;
    display: flex;
    justify-content: space-between;
    padding : 0;
    opacity: 1;
}

.fadeInBtn{
    position: absolute;
    top : 120px;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fadeInBtn img {
    width: 100%;
}

.fadeInBtn:nth-child(1) {
    left : 0;
}
.fadeInBtn:nth-child(1).active {
    top : 0;
    transition: all 1s;
}
.fadeInBtn:nth-child(2) {
    left : 50%;
    transform: translateX(-50%);
}
.fadeInBtn:nth-child(2).active {
    top : 0;
    transition: all 1.4s;
}
.fadeInBtn:nth-child(3) {
    right: 0;
}
.fadeInBtn:nth-child(3).active {
    top : 0;
    transition: all 1.8s;
}

#nonContent {
    width: 100%;
    display: flex;
    justify-content: center;
}
.nonContent__container {
    width: 80%;
    display: flex;
    justify-content: space-between;
}

#map,.second__nonContent,.third__nonContent {
    width: 30%;
    height: 400px;
}

.second__nonContent {
    display: flex;
    flex-direction: column;
    padding : 5px;
}
.second__nonContent li:nth-child(1) {
    color: var(--black);
    font-size: var(--font25);
    font-weight: 600;
}
.second__nonContent li:nth-child(2) {
    color: var(--dark-blue);
    font-size: var(--font32);
    font-weight: 600;
    margin-bottom: var(--font20);
}
.second__nonContent li:nth-child(3),.second__nonContent li:nth-child(4),.second__nonContent li:nth-child(5),.second__nonContent li:nth-child(6) {
    display: flex;
    width: 70%;
    justify-content: space-between;
}
.second__nonContent li:nth-child(3) p,.second__nonContent li:nth-child(4) p,.second__nonContent li:nth-child(5) p,.second__nonContent li:nth-child(6) p {
    margin: 0;
    font-size: var(--font16);
    color : var(--sky-blue);
    font-weight: 500;
}
.second__nonContent li:nth-child(3) span,.second__nonContent li:nth-child(4) span,.second__nonContent li:nth-child(5) span,.second__nonContent li:nth-child(6) span {
    color: var(--black);
    font-weight: 300;
    font-size: var(--font16);
}
.second__nonContent li:nth-child(7) {
    width: 70%;
    display: flex;
    justify-content: end;
    color : var(--sky-blue);
}
.second__nonContent li:nth-child(7) p {
    margin : var(--font10) 0 var(--font15);
}
.second__nonContent li:nth-child(8),.second__nonContent li:nth-child(9) {
    font-size: var(--font15);
    color : var(--brown);
}
.second__nonContent li i {
    font-size: var(--font20);
}

.third__nonContent {
    display: flex;
    flex-direction: column;
    padding : 0;
}
.third__nonContent li:nth-child(1) {
    font-size: var(--font25);
    color : var(--sns);
    font-weight: 600;
    margin-bottom: var(--font10);
}
.third__nonContent li:not(:nth-child(1)) {
    margin-bottom: var(--font10);
    padding: 5px 20px 5px 20px;
    height: 70px;
}
.third__nonContent li a {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.third__nonContent li span, .third__nonContent li i {
    font-size: var(--font20);
}
.third__nonContent li i:not(:nth-child(1)) {
    color : var(--black);
}
.third__nonContent li:nth-child(2) {
    background-color: var(--yellow);
}
.third__nonContent li:nth-child(2) span {
    color : var(--black);
    font-weight: 500;
}
.third__nonContent li:nth-child(3) {
    background-color: var(--green);
}
.third__nonContent li:nth-child(3) span {
    color : var(--white);
    font-weight: 500;
}
.third__nonContent li:nth-child(4) {
    background-color: var(--blue)
}
.third__nonContent li:nth-child(4) span {
    color : var(--white);
    font-weight: 500;
}

.third__nonContent li:nth-child(5) {
    background-color: -webkit-radial-gradient(32% 106%, circle cover, rgb(255, 225, 125) 0%, rgb(255, 205, 105) 10%, rgb(250, 145, 55) 28%, rgb(235, 65, 65) 42%, transparent 82%), -webkit-linear-gradient(-45deg, rgb(35, 75, 215) 12%, rgb(195, 60, 190) 58%);

background: -moz-radial-gradient(32% 106%, circle cover, rgb(255, 225, 125) 0%, rgb(255, 205, 105) 10%, rgb(250, 145, 55) 28%, rgb(235, 65, 65) 42%, transparent 82%), -moz-linear-gradient(-45deg, rgb(35, 75, 215) 12%, rgb(195, 60, 190) 58%);

background: -ms-radial-gradient(32% 106%, circle cover, rgb(255, 225, 125) 0%, rgb(255, 205, 105) 10%, rgb(250, 145, 55) 28%, rgb(235, 65, 65) 42%, transparent 82%), -ms-linear-gradient(-45deg, rgb(35, 75, 215) 12%, rgb(195, 60, 190) 58%);

background: -o-radial-gradient(32% 106%, circle cover, rgb(255, 225, 125) 0%, rgb(255, 205, 105) 10%, rgb(250, 145, 55) 28%, rgb(235, 65, 65) 42%, transparent 82%), -o-linear-gradient(-45deg, rgb(35, 75, 215) 12%, rgb(195, 60, 190) 58%);

background: radial-gradient(circle farthest-corner at 32% 106%, rgb(255, 225, 125) 0%, rgb(255, 205, 105) 10%, rgb(250, 145, 55) 28%, rgb(235, 65, 65) 42%, transparent 82%), linear-gradient(135deg, rgb(35, 75, 215) 12%, rgb(195, 60, 190) 58%);
}
.third__nonContent li:nth-child(5) span {
    color : var(--white);
    font-weight: 500;
}

#aside {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 5px;
    top : 50%;
    transform: translateY(-50%);
}
#aside button {
    background-color: var(--sky-blue);
    border: none;
    margin : 1px 0;
    font-size: var(--font13);
    padding: var(--font10);
    cursor: pointer;
}
#aside button:nth-child(1) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color : var(--white);
}
#aside button:nth-child(1) i {
    font-size: var(--font26);
}
#aside button:nth-child(1) p {
    margin-bottom : 0;
}
#aside button:nth-child(2) {
    background-color: var(--black);
    color : var(--white);
}

#modal {
    position: fixed;
    top : 0;
    left : 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
    background-color: var(--black);
    opacity: 0.995;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
.modal__xButton {
    position: absolute;
    width: 10%;
    height: var(--font32);
    right : 0;
    top : 0;
}
#modal ul {
    display: flex;
    width: 70%;
    height: 100%;
    align-items: center;
    justify-content: center;
    margin : 0;
    padding : 0;
}
.modal__doctors {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin : var(--font10)
}
.modal__doctors img {
    width: 100%;
    margin-bottom: var(--font13);
}
.modal__doctors span {
    font-size: var(--font18);
    color : var(--white);
}