html,body {
    margin : 0;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;
}
a {
    text-decoration: none;
}
ul,li {
    list-style: none;
}

:root {
    /* Color */
    --dark-blue : #2B4F8B;
    --gray : #B6B5B6;
    --black : #333333;
    --pink : #d59999;
    --white : #ffffff;

    /* Font-size */
    --font4 : 4px;
    --font7 : 7px;
    --font10 : 10px;
    --font13 : 13px;
    --font15 : 15px;
    --font16 : 16px;
    --font18 : 18px;
    --font20 : 20px;
    --font25 : 25px;
    --font26 : 26px;
    --font32 : 32px;
}

/* Nav-Part */
#nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: var(--font20);
}
.nav-up {
    width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: var(--font25);
}
.nav-up__navbuttons button {
    font-size: var(--font15);
    font-weight: 600;
    padding : var(--font10);  
    border-radius: var(--font13);
}
.nav-up__navbuttons button:nth-child(1) {
    color : var(--white);
    background-color: var(--dark-blue);
    border : none;
}
.nav-up__navbuttons:nth-child(2) button {
    background-color: var(--white);
    color : var(--black);
    border-right-color: var(--black);
    box-shadow: none;
}
.nav-up__navbuttons button:nth-child(2) span {
    font-weight: 400;
}
.nav-up__navbuttons button:nth-child(1):hover span {
    text-decoration: underline;
    text-decoration-color: var(--white);
}
.nav-up__navbuttons button:nth-child(2):hover span {
    text-decoration: underline;
    text-decoration-color: var(--black);
}
.nav-down {
    width: 70%;
}
.nav-down__menuContainer {
    padding-top: var(--font10);
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.nav-down__menuContainer li {
    font-size: var(--font18);
    font-weight: 500;
}
.nav-up__etcs {
    display: flex;
}
.etc__contact {
    margin-right: var(--font32);
}
.etc__contact i {
    color : var(--dark-blue);
}
.etc__contact span {
    margin: 0 var(--font10) 0 var(--font10); 
    font-size: var(--font16);
}
.etc__contact b {
    color : var(--dark-blue);
    font-size: var(--font20);
    font-weight: 600;
}
.etc__signs {
    margin-left: var(--font10);
}
.etc__signs a {
    color : var(--gray);
    margin : 0 var(--font4);
    font-size: var(--font13);
}

/* Header-Part */
#header {
    width: 100%;
    height: 720px;
    position: relative;
    overflow-x: hidden;
    margin-bottom: 5%;
}
.header__slider {
    position: absolute;
    height: 720px;
    width: 100%;
    padding: 0;
    margin : 0;

}
.header__slider.active {
    transition: all 0.3s ease-in-out;
}
.slide {
    width: 100%;
    height: 720px;
    position: absolute;
}

.slide:nth-child(1) {
    width: 100%;
    background: url(./image/slide1.jpg) no-repeat center;
    background-size: 100% 130%;
    height: 720px;
}
.slide:nth-child(2) {
    width: 100%;
    background: url(./image/slide2.jpg) no-repeat center;
    background-size: 100% 130%;
    height: 720px;
}
.slide:nth-child(3) {
    width: 100%;
    background: url(./image/slide3.jpg) no-repeat center;
    background-size: 100% 130%;
    height: 720px;
}
.slide:nth-child(4) {
    width: 100%;
    background: url(./image/slide4.jpg) no-repeat center;
    background-size: 100% 130%;
    height: 720px;
}
.slide:nth-child(5) {
    width: 100%;
    background: url(./image/slide5.jpg) no-repeat center;
    background-size: 100% 130%;
    height: 720px;
}
.header__squares {
    position: absolute;
    display: flex;
    left : 50%;
    transform: translateX(-50%);
    bottom: 30px;
}
.square {
    width: 15px;
    height: 15px;
    background-color: var(--white);
    margin: 0 10px;
    border-radius: 50%;
}
.square.animated {
    background-color: var(--black);
}
#content {
    width: 100%;
    height: 400px;
    margin: 0 auto;
    padding : 0;
    display: flex;
    justify-content: center;
}
.content__fadeIn {
    position: relative;
    width: 70%;
    display: flex;
    justify-content: space-between;
    padding : 0;
    opacity: 1;
}

.fadeInBtn{
    position: absolute;
    top : 120px;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fadeInBtn img {
    width: 100%;
}

.fadeInBtn:nth-child(1) {
    left : 0;
}
.fadeInBtn:nth-child(1).active {
    top : 0;
    transition: all 1s;
}
.fadeInBtn:nth-child(2) {
    left : 50%;
    transform: translateX(-50%);
}
.fadeInBtn:nth-child(2).active {
    top : 0;
    transition: all 1.4s;
}
.fadeInBtn:nth-child(3) {
    right: 0;
}
.fadeInBtn:nth-child(3).active {
    top : 0;
    transition: all 1.8s;
}

#nonContent {
    width: 100%;
    display: flex;
    justify-content: center;
}
.nonContent__container {
    width: 70%;
    display: flex;
}

#map,.second__nonContent,.third__nonContent {
    width: 30%;
}